DB_HOST: 127.0.0.1
DB_PORT: 5432
DB_USER: postgres
DB_PASSWORD: 1234
DB_NAME: test
DB_SSLMODE: disable
APP_PORT: 80 / 433
LANGUAGE: en / ru
SECRET: AnyValue (Example: adjaijdad)
TOKEN_LIFE_TIME: 86400s
DATE_FORMAT: '2006-01-02 15:04:05'